services:

    db:
        container_name: db
        image: postgres:alpine
        ports:
            - "${DB_PORT}:5432"
        environment:
            POSTGRES_DB: $DB_NAME
            POSTGRES_PASSWORD: $DB_PASSWORD

    app:
        container_name: url_shortener
        image: url_shortener
        ports:
            - "5000:5000"
        depends_on:
            - db
        env_file:
            - .env
        environment:
            DB_HOST: db
            ENV: ${ENV:-production}
